<!DOCTYPE html>
<html>

  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <h1>{{ title }}</h1>

    {{#tweets}}

      <div class="tweet-box">
          <img src={{user.profile_image_url}} />
          {{ text }} <br /> {{ created_at }} <br />
          <a target="_blank" href="https:www.twitter.com/{{ user.screen_name }}">@{{ user.screen_name }}</a>

      </div><br />
    {{/tweets}}

  </body>



</html>
