<!DOCTYPE html>

<html>
    <head>
    </head>

    <body>
        <!-- <h2>venue: {{ id }} </h2>   -->
        <h2>venue: {{ name }} </h2>  
        <img src="{{ image_url }}" />
        phone: {{ display_phone }} <br />
        {{ location.cross_streets }}
    </body>

</>